/* common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1280px;
    margin: auto;
}

/* custom css */


.banner {
    display: flex;
    align-items: center;
    background-color: black;
    /* color changes text color always */
    color: white;

    margin: 50px auto;

    border-radius: 15px;
}


.banner-left {
    padding-left: 45px;

    flex: 1;


}

.btn {
    background-color: rgba(221, 0, 0, 1);
    padding: 15px 25px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;

}

.banner h2 {
    /* color: rgba(255, 255, 255, 1); */

    line-height: 70px;

    font-size: 70px;
    font-weight: 600;





}

.banner p {
    margin: 15px 0;
    max-width: 65%;

}

.banner-right img {
    display: block;
    
}

.banner-right {
    flex: 1;
}

/* upcoming matches section/main section */

.upcoming-matches-left {

    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    height: fit-content;


}

.upcoming-matches {
    display: flex;
    /* padding: 10px; */
    gap: 20px;
}

.upcoming-matches-right {

    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;

}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {

    background-color: white;
    color: black;

}

.upcoming-matches-right .card {
    border: 1px solid;
    border-radius: 10px;
}

.upcoming-matches-right .card img {
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.upcoming-matches-right .card .btn {
    background-color: white;
    /* color always means text or icons color inside the class or div color  */
    color: black;
    border: 2px solid black;
    padding: 8px 14px;
    margin-top: 10px;

}

.upcoming-matches-right .card h2 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;



}

.card-bottom {
    display: flex;
    gap: 20px;
    color: #161616CC;


}

.card-body {
    padding: 20px;
}

/* laptop/tab responsiveness */

@media (max-width: 992px) {

    /*main head banner section  */

    .banner h2 {
        font-size: 50px;
        line-height: 50px;

    }



     /* upcoming matches section */

    .upcoming-matches {
        flex-direction: column;
    }

    .upcoming-matches-left {
        flex-direction: row;
        width: 100%;
        background-color: transparent;



    }



    .upcoming-matches-left>* {
        /* flex 1 for equal distribution in row */
        flex: 1;
    }


    .upcoming-matches-left .btn:nth-child(1),
    .upcoming-matches-left .btn:nth-child(2) {
        border: 1px solid rgba(232, 232, 232, 1);
    }

    .upcoming-matches-right {
        grid-template-columns: repeat(2, 1fr);
    }



}

/* Mobile responsiveness */

@media (max-width: 768px) {

    .banner {
        flex-direction: column;
        text-align: center;
        
        padding-top: 30px;
    }

    .banner-left {
        padding-left: 0;
    }

    .banner-left p{
        /* flex-direction: column;
        justify-content: center; */

        max-width: 100%;
        margin-bottom: 15px auto;
    }

    /* .banner-left button {
        width: 200px;
    } */

}