/* common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


.container {
    max-width: 1280px;
    margin: auto;
}

/* custom css */


.banner {
    display: flex;
    align-items: center;
    background-color: black;
    /* color changes text color always */
    color: white;

    margin: 50px auto;

    border-radius: 30px;
}


.banner-left {
    padding: 45px;


}

.btn {
    background-color: rgba(221, 0, 0, 1);
    padding: 15px 25px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;

}

.banner h2 {
    color: rgba(255, 255, 255, 1);

    line-height: 70px;
    
    font-size: 70px;
    font-weight: 600;

    
    
    
    
}

.banner p {
    margin: 15px 0;
    max-width: 65%;

}

.banner-right img {
    display: block;
}

/* upcoming matches section/main section */

.upcoming-matches-left {

    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    height: fit-content;
    

}

.upcoming-matches {
    display: flex;
    padding: 50px;
    gap: 20px;
}

.upcoming-matches-right {
    
    flex: 1;
}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {

    background-color: white;
    color: black;

}

.upcoming-matches-right .card {
    border: 1px solid;
    border-radius: 10px;
}

.upcoming-matches-right .card img{
    height: 180px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.upcoming-matches-right .card .btn {
    background-color: white;
    /* color always means text or icons color inside the class or div color  */
    color: black;
    border: 2px solid black;
    padding: 8px 14px;
    margin-top: 10px;

}

.upcoming-matches-right .card .h2 {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;



}

.card-bottom {
    display: flex;
    gap: 20px;
    color: #161616CC;


}

.card-body {
    padding: 20px;
}

